body {
  background-image: url("http://www.hyster.com/assets/0/72/74/101/6bcc560a-73b7-4d77-9030-8ea5bbd2f116.jpg?n=1480");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
.content-container {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	/*box-shadow: 5px 5px 20px rgba(255,211,0, 0.15);*/
	border: 2px solid #ffd300;
	border-radius: 10px;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-webkit-transform: translate3d(-50%, -50%, 0);
          	transform: translate3d(-50%, -50%, 0);
  	color: #ffd300;
  	width: 700px;
  	height: 800px;
  	margin: 50px 0 100px 0;
  	padding: 180px 0 0 80px;
}

.content-container .btn {
	position: relative;
	height: 200px;
	width: 200px;
	border: none;
	border-radius: 10px;
	margin: 30px;
	box-shadow: 5px 5px 20px rgba(255,211,0, 0.15);
  	-webkit-transform: translate3d(-0%, -50%, 0);
          	transform: translate3d(-0%, -50%, 0);
    background-color: #2a2f35;
}

.content-container .btn span {
	font-size: 24px;
	padding: 20px 0;
	color: #ffd300;
	text-decoration: none;
}

.content-container .btn .glyphicon {
	font-size: 40px;
	padding: 20px 0;
	/*color: #8180cc;*/
}

.content-container .btn .name {
	font-family: Raleway;
}

a:hover {
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    

}

@media screen and (max-width: 576px) {
	body {
	/*margin-top: 100px;*/
  	background-image: url("https://cdn.apk-dl.com/detail/screenshot/JJlyJEZ-PQJmQ24lfSNy7a7Wk5wsB4b-uE1M5thBv3bDnpHZatpJPctgsgKnQ3BPhpwd=h900.png");
  	background-size: 100%;
  	background-repeat: repeat;
  	background-attachment: fixed;
	}

	/*.navbar {
		position: fixed;
	}*/

	.content-container {
	  	width: 100%;
	  	height: 100%;
	  	margin: 20% 0 0 0;
	  	padding: 10% 5% 0 9%;
	  	overflow: hidden;
	  	flex-wrap: wrap;
	  	border: none;
	  	/*position: absolute;*/
	}

    .content-container .btn {
		float: left;
		position: relative;
		width: 150px;
		height: 150px;
		margin: 10px;
	}

	.content-container .btn span {
		font-size: 20px;
		padding: 10px 0;
	}

	.content-container .btn .glyphicon {
		font-size: 40px;
		padding: 10px 0;
	}

}

@media screen and (max-width: 400px) {
	body {
  	background-image: url("https://cdn.apk-dl.com/detail/screenshot/JJlyJEZ-PQJmQ24lfSNy7a7Wk5wsB4b-uE1M5thBv3bDnpHZatpJPctgsgKnQ3BPhpwd=h900.png");
  	background-size: 100%;
  	background-repeat: repeat;
  	background-attachment: fixed; 
	}
	.content-container {
	  	width: 100%;
	  	height: 100%;
	  	margin: 20% 0 0 0;
	  	padding: 10% 5% 0 4%;
	  	overflow: hidden;
	  	flex-wrap: wrap;
	  	/*position: absolute;*/
	}

    .content-container .btn {
		float: left;
		position: relative;
		width: 150px;
		height: 150px;
		margin: 10px;
	}

	.content-container .btn span {
		font-size: 20px;
		padding: 10px 0;
	}

	.content-container .btn .glyphicon {
		font-size: 40px;
		padding: 10px 0;
	}

}

@media screen and (max-width: 372px) {
	body {
  	background-image: url("https://cdn.apk-dl.com/detail/screenshot/JJlyJEZ-PQJmQ24lfSNy7a7Wk5wsB4b-uE1M5thBv3bDnpHZatpJPctgsgKnQ3BPhpwd=h900.png");
  	background-size: 100%;
  	background-repeat: repeat;
  	background-attachment: fixed; 
	}

    .content-container {;
	  	width: 100%;
	  	height: 100%;
	  	margin: 5% 0 0rem 0;
	  	padding: 30% 0 0 8%;
	  	overflow: hidden;
	  	/*position: relative;*/

	}

	.content-container .btn {
		float: left;
		position: relative;
		width: 140px;
		height: 140px;
		margin: 5px;
	}

	.content-container .btn span {
		font-size: 20px;
		padding: 10px 0;
	}

	.content-container .btn .glyphicon {
		font-size: 40px;
		padding: 10px 0;
	}

}

@media screen and (max-width: 320px) {
	body {
  	background-image: url("https://cdn.apk-dl.com/detail/screenshot/JJlyJEZ-PQJmQ24lfSNy7a7Wk5wsB4b-uE1M5thBv3bDnpHZatpJPctgsgKnQ3BPhpwd=h900.png");
  	background-size: 100%;
  	background-repeat: repeat;
  	background-attachment: fixed; 
	}

    .content-container {;
	  	width: 100%;
	  	height: 100%;
	  	margin: 10% 0 0rem 0;
	  	padding: 30% 0 0 2%;
	  	overflow: hidden;
	  	/*position: relative;*/

	}

	.content-container .btn {
		float: left;
		position: relative;
		width: 140px;
		height: 140px;
		margin: 5px;
	}

	.content-container .btn span {
		font-size: 20px;
		padding: 10px 0;
	}

	.content-container .btn .glyphicon {
		font-size: 40px;
		padding: 10px 0;
	}

}